span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-transform: uppercase;
}

mat-list-item {
  display: flex;
  flex-direction: row;
}


a {
  color: inherit;
}

.left {
  width: 25vh;
  display: flex;
  justify-content: flex-start;
}

.skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .skill {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
  }
}
