div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

mat-expansion-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

mat-icon {
  padding-right: 5px;
}
