.container {
  height:65vh;
}

mat-expansion-panel {
  background-color: #1A1A1A;
}

.workList {
  margin-top: 10px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

mat-icon {
  padding-right: 5px;
}

h1 {
  text-decoration: solid;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 74px;
  color: #27B5D2;
}
