<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          Work Experience
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    class="workList"
    *ngFor="let experience of WorkExperienceList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <mat-icon>
              date_range
            </mat-icon>
            {{ experience.date_range }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <span>
            <mat-icon class="material-icons-outlined">
              location_on
            </mat-icon>
            {{ experience.location }}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="experience.employee_website.length > 0; then withWebsite else withoutWebsite"></div>
      <ng-template #withWebsite>
        <h2>
          {{ experience.position }} - <a href="{{ experience.employee_website }}" target="_blank" >
            {{ experience.employee_name }}
          </a>
        </h2>
      </ng-template>
      <ng-template #withoutWebsite>
        <h2>
          {{ experience.position }} - {{ experience.employee_name }}
        </h2>
      </ng-template>
      {{ experience.job_description }}
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
