<div class="container">
  <div class="title">
    <h1>
      Languages
    </h1>
  </div>
  <mat-list class="content">
    <mat-list-item *ngFor="let lang of langList">
      <div>
        <h2>
          {{ lang.name }}
        </h2>
        <h3>
          {{ lang.level }}
        </h3>
        <mat-slider class="slider-lang" [disabled]="true" [max]="100" aria-labelledby="lang.name">
          <input matSliderThumb [(ngModel)]="lang.progress" #slider>
        </mat-slider>
      </div>
    </mat-list-item>
  </mat-list>
</div>
