<div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div class="contentLeft">
      <div class="components">
        <app-profile></app-profile>
      </div>
      <div class="components">
        <app-work-experience></app-work-experience>
      </div>
    </div>
    <div class="contentRight">
      <div class="components">
        <app-skills></app-skills>
      </div>
      <div class="components">
        <app-langs></app-langs>
      </div>
    </div>
  </div>
</div>
