.header {
  height: 40vh;
  background-color: #FFFFFF;
  border-bottom: 5px solid #4BB5D4;
}

.content {
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  padding-bottom: 5rem;
}

.contentLeft,
.contentRight {
  display: flex;
  flex-direction: column;
}

.contentLeft {
  margin-left: 20vh;
  margin-right: 5vh;
}

.contentRight {
  margin-left: 5vh;
  margin-right: 20vh;
}

.components {
  margin-top: 10vh;
}
