<div class="main-container">
  <div class="space">

  </div>
  <div class="center" *ngIf="(profile$ | async); let profile">
    <div class="header">
      <glsf-header [personal]="profile.personal"></glsf-header>
    </div>
    <div class="content">
      <glsf-profile [personal]="profile.personal"></glsf-profile>
      <glsf-education [educations]="profile.education"></glsf-education>
      <glsf-experience [experiences]="profile.experience"></glsf-experience>
      <glsf-skill [skills]="profile.skill"></glsf-skill>
      <glsf-lang [langs]="profile.language"></glsf-lang>
      <glsf-social></glsf-social>
    </div>
  </div>
</div>
