.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 10px solid #4BB5D4;
}

.content {
  background-color: #1A1A1A;
}

mat-grid-tile {
  border: #FFFFFF 1px solid;
}
