<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          Education
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    class="workList"
    *ngFor="let education of educationList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <mat-icon>
              date_range
            </mat-icon>
            {{ education.date_range }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <span>
            <mat-icon class="material-icons-outlined">
              location_on
            </mat-icon>
            {{ education.location }}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="education.college_website.length > 0; then withWebsite else withoutWebsite"></div>
      <ng-template #withWebsite>
        <h2>
          {{ education.type }} - <a href="{{ education.college_website }}" target="_blank" >
            {{ education.collegeName }}
          </a>
        </h2>
      </ng-template>
      <ng-template #withoutWebsite>
        <h2>
          {{ education.type }} - {{ education.college_website }}
        </h2>
      </ng-template>
      {{ education.description }}
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
