<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          Education
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel *ngFor="let education of educations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <mat-icon>
              date_range
            </mat-icon>
            {{ education.start }} to {{ education.end }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <span>
            <mat-icon>
              location_on
            </mat-icon>
            {{ education.location }}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="education.website ? withWebsite : withoutWebsite; context: { $implicit: education }"></ng-container>
      <h3>
        {{ education.course }}
      </h3>
      {{ education.description }}
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
<ng-template #withWebsite let-education>
  <h2>
    {{ education.type }} - <a href="{{ education.website }}" target="_blank">
      {{ education.name }}
    </a>
  </h2>
</ng-template>
<ng-template #withoutWebsite let-education>
  <h2>
    {{ education.type }} - {{ education.website }}
  </h2>
</ng-template>
