mat-expansion-panel {
  background-color: #1A1A1A;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-transform: uppercase;
}

mat-icon {
  padding-right: 5px;
}

mat-list-item {
  display: flex;
  flex-direction: row;
}

h1 {
  text-decoration: solid;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1.6vh;
  color: #27B5D2;
}

a {
  color: inherit;
}

.left {
  width: 25vh;
  display: flex;
  justify-content: flex-start;
}

.mat-slider-horizontal {
  width: 40vh;
}
