<div class="container">
  <mat-expansion-panel
   (opened)="panelOpenState"
   (closed)="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          Skills
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel
    (opened)="panelOpenState"
    (closed)="panelOpenState"
    class="skillList"
    *ngFor="let category of skillList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            {{ category.category }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let skill of category.skills">
          <div class="left">
            <span>{{ skill.name }}</span>
          </div>
          <div>
            <mat-slider
            class="slider-lang"
            [disabled]="true"
            [max]="100"
            [value]="skill.progress"
            aria-labelledby="lang.name">
            </mat-slider>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
