html,
body {
  background-color: #005895;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  justify-content: center;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
